<% if model.errors.any? %>
  <div id="error_explanation">
    <ul>
    	<h3><%= @book.errors.count %> errors prohibited this obj from being saved:</h3>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>